back/environments/*.env
back/public/uploads/*
milestone_checklist.md
front/.env
backend_improvement_plan.md

# Nuxt 3関連
front/.nuxt
front/.output
front/.nitro
front/dist
front/node_modules
front/.cache